@model MVCCIMotorsForms.Models.CustomerFormViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{

    @Html.HiddenFor(m => m.CustomerId)
    <tr>
        <td>
            @Html.LabelFor(m => m.FirstName)
        </td>
        <td>
            @Html.TextBoxFor(m => m.FirstName)
        </td>
    </tr>

    <tr>
        <td>
            @Html.LabelFor(m => m.LastName)
        </td>
        <td>
            @Html.TextBoxFor(m => m.LastName)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.PhoneNumber)
        </td>
        <td>
            @Html.TextBoxFor(m => m.PhoneNumber)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Address1)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Address1)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.Address2)
        </td>
        <td>
            @Html.TextBoxFor(m => m.Address2)
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(m => m.SuburbId)
        </td>
        <td>
            @Html.DropDownListFor(m => m.SuburbId, new SelectList(Model.SuburbTypes, "suburbId", "suburb"),"", new {@class="form-control"});
        </td>
    </tr>
    
}

