@model List<MVCCIMotorsForms.Models.StaffClass>
@{
    ViewBag.Title = "StaffManagement";
}

<h2>StaffManagement</h2>


<a href="CreateStaffMember">Create </a>
<table class="table table-bordered table-striped">

    <tr>
        <td>Staff Id</td>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Address1</th>
        <th>Address2</th>
        <th>&nbsp</th>
    </tr>
    @foreach( var sm in Model)
    {
        <tr>
            <td>@sm.StaffId</td>
            <td>@sm.FirstName</td>
            <td>@sm.LastName</td>
            <td>@sm.Address1</td>
            <td>@sm.Address2</td>
            
            <td><a href="/Home/EditStaffMember?staffId=@sm.StaffId">Edit</a></td>
        </tr>
    }
</table>
